In [2]:
'''momentum strategy
buy : 20 stocks that have risen the most in kospi + kosdaq
'''
from pykrx import stock
import FinanceDataReader as fdr

In [3]:
'''select 20 stocks that have good momentum(2019.11.01 to 2020.09.29)'''
df1=stock.get_market_ohlcv("20191101")
df2=stock.get_market_ohlcv("20200929")
'''
join() method in pandas is used to merge two DataFrames 
based on their index or a specified column(s)

 The lsuffix and rsuffix parameters are used 
 to add a suffix to the columns of both DataFrames 
 to differentiate them when they have overlapping column names.'''
kospi=df1.join(df2,lsuffix="_l",rsuffix='_r')
kospi

,시가_l,고가_l,저가_l,종가_l,거래량_l,거래대금_l,등락률_l,시가_r,고가_r,저가_r,종가_r,거래량_r,거래대금_r,등락률_r
티커,,,,,,,,,,,,,,
095570,4155,4195,4120,4195,39289,162442315,1.08,3225.0,3290.0,3195.0,3245.0,49795.0,1.619040e+08,0.46
068400,11000,11100,10900,11100,88789,973911500,0.45,8430.0,8600.0,8380.0,8550.0,98470.0,8.366572e+08,1.79
006840,31100,31600,31050,31350,8776,274589000,0.16,17400.0,18000.0,17250.0,17550.0,20114.0,3.534758e+08,2.63
027410,5750,5750,5590,5600,331127,1866807440,-2.61,4095.0,4100.0,4030.0,4080.0,72477.0,2.950372e+08,0.49
282330,178500,180000,177500,179500,26325,4710883000,0.84,121500.0,124000.0,120000.0,123500.0,71328.0,8.729179e+09,2.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
069260,22000,22200,21750,21950,69145,1516793750,-0.68,21500.0,21500.0,20400.0,20600.0,2564725.0,5.286840e+10,-2.14
000540,3140,3140,3085,3110,7159,22262505,-0.48,2670.0,2840.0,2645.0,2715.0,274386.0,7.525160e+08,1.69
000547,19150,19150,18950,19050,20,380900,-0.52,24500.0,25200.0,23750.0,23800.0,8843.0,2.139186e+08,-3.64
000545,4600,4695,4580,4695,669,3113045,1.08,11150.0,12700.0,10100.0,10700.0,825125.0,9.490463e+09,-1.38
003280,361,361,352,355,271838,96725636,-1.66,0.0,0.0,0.0,258.0,0.0,0.000000e+00,0.00

In [6]:
kospi=kospi.rename(columns={'종가_r':'(simulation)selling price','종가_l':'(simulation)purchase price'})
kospi['momentum']=100*(kospi['(simulation)selling price']-kospi['(simulation)purchase price'])/kospi['(simulation)purchase price']
kospi=kospi[['(simulation)purchase price','(simulation)selling price','momentum']]
kospi_momentum20=kospi.sort_values(by='momentum',ascending=False)[:20]
kospi_momentum20

        (simulation)purchase price  (simulation)selling price     momentum
티커
019175                        6050                   166500.0  2652.066116
025560                         174                     3300.0  1796.551724
019170                        6760                   126500.0  1771.301775
28513K                       20800                   166500.0   700.480769
005257                       18250                   138000.0   656.164384
011000                        4130                    29650.0   617.917676
037270                        1300                     8370.0   543.846154
007575                       16750                   106500.0   535.820896
010145                       56900                   356000.0   525.659051
285130                       47600                   296500.0   522.899160
030790                         850                     5180.0   509.411765
009835                       11550                    68200.0   490.476190
336260                        7860                    43100.0   448.346056
012170                         150                      600.0   300.000000
000995                       36950                   142000.0   284.303112
002410                        1570                     6000.0   282.165605
033270                       19050                    72500.0   280.577428
002630                         432                     1625.0   276.157407
007570                       21750                    79200.0   264.137931
006125                       14650                    53000.0   261.774744

In [7]:
#check the returns for the selected 20 stocks
df3=stock.get_market_ohlcv("20201102")
df4=stock.get_market_ohlcv("20210430")
pct_df=df3.join(df4,lsuffix="_l",rsuffix="_r")
pct_df

,시가_l,고가_l,저가_l,종가_l,거래량_l,거래대금_l,등락률_l,시가_r,고가_r,저가_r,종가_r,거래량_r,거래대금_r,등락률_r
티커,,,,,,,,,,,,,,
095570,3915,3920,3585,3615,1012135,3809998960,1.26,5290.0,5560.0,5270.0,5560.0,354540.0,1.944681e+09,4.12
006840,17100,17600,17100,17400,13765,238146450,1.75,30250.0,31500.0,29900.0,31100.0,185154.0,5.755820e+09,2.81
027410,4015,4080,4015,4050,85711,346880195,0.87,6940.0,6990.0,6800.0,6910.0,326363.0,2.251853e+09,-0.43
282330,119000,121000,117500,120000,13771,1642866500,1.69,149500.0,154000.0,147500.0,153000.0,63877.0,9.721709e+09,2.34
138930,5490,5710,5490,5700,1060558,5980071160,3.45,7330.0,7790.0,7290.0,7670.0,5125163.0,3.907946e+10,4.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
069260,22950,23450,22900,23250,109754,2542347150,1.53,21800.0,21900.0,21550.0,21750.0,196963.0,4.269144e+09,-0.46
000540,2675,2725,2640,2700,41112,110686885,0.93,4645.0,4720.0,4440.0,4470.0,435074.0,1.974625e+09,-3.66
000547,23000,23000,22400,22450,4496,101043200,-2.39,34150.0,37500.0,30250.0,32750.0,83155.0,2.820481e+09,13.52
000545,17100,17550,16200,16800,144608,2439381250,0.00,11350.0,12350.0,10600.0,11200.0,105566.0,1.203470e+09,2.75
003280,0,0,0,258,0,0,0.00,0.0,0.0,0.0,258.0,0.0,0.000000e+00,0.00

In [8]:
pct_df=pct_df[['종가_l','종가_r']]
pct_df.columns=['purchase price','selling price']
kospi_momentum20_result=kospi_momentum20.join(pct_df)
kospi_momentum20_result

,(simulation)purchase price,(simulation)selling price,momentum,purchase price,selling price
티커,,,,,
019175,6050,166500.0,2652.066116,139000,72900.0
025560,174,3300.0,1796.551724,3010,15450.0
019170,6760,126500.0,1771.301775,126000,69800.0
28513K,20800,166500.0,700.480769,174500,123000.0
005257,18250,138000.0,656.164384,159500,89400.0
011000,4130,29650.0,617.917676,28650,17400.0
037270,1300,8370.0,543.846154,4640,5870.0
007575,16750,106500.0,535.820896,82500,37850.0
010145,56900,356000.0,525.659051,310000,335000.0
285130,47600,296500.0,522.899160,347500,266500.0
030790,850,5180.0,509.411765,5770,9100.0
009835,11550,68200.0,490.476190,74500,55600.0
336260,7860,43100.0,448.346056,41650,45100.0
012170,150,600.0,300.000000,600,1105.0
000995,36950,142000.0,284.303112,119000,118500.0
002410,1570,6000.0,282.165605,4945,4000.0
033270,19050,72500.0,280.577428,47750,52400.0
002630,432,1625.0,276.157407,1565,1510.0
007570,21750,79200.0,264.137931,70200,38250.0
006125,14650,53000.0,261.774744,51400,41900.0

In [9]:
kospi_momentum20_result['Return']=(kospi_momentum20_result['selling price']/kospi_momentum20_result['purchase price'])
'''
fillna(0) is a method commonly used in pandas, 
a popular data manipulation library in Python. It is used 
to fill missing or NaN (Not a Number) values in a DataFrame 
or Series with a specified value, in this case, with the value 0.'''
average_return=kospi_momentum20_result['Return'].fillna(0).mean()
mom20_cagr=average_return**(1/0.5)-1
mom20_cagr*100

22.438212144592473

In [8]:
#momentum st - out put : 22% return for 5 month

In [11]:
#kospi return for same period
df_ref=fdr.DataReader(
    symbol='KS11',
    start="2020-11-02",
    end="2021-04-30"
)
df_ref

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-11-02,2276.610107,2302.639893,2267.949951,2300.159912,2300.159912,678500
2020-11-03,2315.810059,2344.770020,2315.300049,2343.310059,2343.310059,887400
2020-11-04,2361.320068,2371.139893,2339.949951,2357.320068,2357.320068,986800
2020-11-05,2373.409912,2413.790039,2370.850098,2413.790039,2413.790039,702000
2020-11-06,2421.790039,2431.110107,2404.969971,2416.500000,2416.500000,825600
...,...,...,...,...,...,...
2021-04-23,3173.469971,3185.969971,3146.540039,3181.080078,3181.080078,1829400
2021-04-26,3191.340088,3217.530029,3191.340088,3217.530029,3217.530029,1298300
2021-04-27,3218.300049,3223.050049,3203.250000,3215.419922,3215.419922,1534200
2021-04-28,3217.209961,3219.689941,3176.550049,3181.469971,3181.469971,1412600
2021-04-29,3184.750000,3200.409912,3161.060059,3174.070068,3174.070068,1222400

In [12]:
CAGR=((df_ref["Close"].iloc[-1]/df_ref['Close'].iloc[0])**(1/0.5))-1
CAGR*100

90.42192841803268

In [11]:
# kospi return : 90% > momentum st : 22%

In [14]:
#The momentum st for large caps
df1=stock.get_market_ohlcv("20191101",market="ALL")
df2=stock.get_market_ohlcv("20200929",market="ALL")
all=df1.join(df2,lsuffix="_l",rsuffix="_r")
all

,시가_l,고가_l,저가_l,종가_l,거래량_l,거래대금_l,등락률_l,시가_r,고가_r,저가_r,종가_r,거래량_r,거래대금_r,등락률_r
티커,,,,,,,,,,,,,,
060310,3335,3390,3290,3390,178869,600797865,2.42,2145.0,2145.0,2085.0,2120.0,116524.0,2.461800e+08,0.95
095570,4155,4195,4120,4195,39289,162442315,1.08,3225.0,3290.0,3195.0,3245.0,49795.0,1.619040e+08,0.46
068400,11000,11100,10900,11100,88789,973911500,0.45,8430.0,8600.0,8380.0,8550.0,98470.0,8.366572e+08,1.79
006840,31100,31600,31050,31350,8776,274589000,0.16,17400.0,18000.0,17250.0,17550.0,20114.0,3.534758e+08,2.63
054620,9190,9820,9190,9600,438694,4201716830,4.58,8550.0,8730.0,8470.0,8590.0,151231.0,1.300975e+09,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
000547,19150,19150,18950,19050,20,380900,-0.52,24500.0,25200.0,23750.0,23800.0,8843.0,2.139186e+08,-3.64
000545,4600,4695,4580,4695,669,3113045,1.08,11150.0,12700.0,10100.0,10700.0,825125.0,9.490463e+09,-1.38
003280,361,361,352,355,271838,96725636,-1.66,0.0,0.0,0.0,258.0,0.0,0.000000e+00,0.00
037440,4395,4395,4300,4365,8728,37867950,0.34,3665.0,3710.0,3630.0,3690.0,7032.0,2.578092e+07,0.68
238490,23850,24100,22950,23500,63232,1477632650,-1.26,12650.0,12900.0,12600.0,12850.0,147805.0,1.886456e+09,2.39

In [15]:
# exception of preferred stocks
''' feature of preferred stocks : the last number of the ticker is not zero.
regex="0$" : The $ is a special character in regular expressions 
that signifies the end of the string. So, 
the expression "0$" matches any string that ends with "0".'''
all2=all.filter(regex="0$",axis=0).copy()
all2['momentum']=100*(all2['종가_r']-all2['종가_l'])/all2['종가_l']
all2=all2[['momentum']]
all2.head()

         momentum
티커
060310 -37.463127
095570 -22.646007
068400 -22.972973
006840 -44.019139
054620 -10.520833

In [16]:
cap=stock.get_market_cap(date="20200929",market="ALL")
cap=cap[['시가총액']]
cap.columns=['market cap']
cap.head()

             market cap
티커
005930  347441344410000
000660   61152198660000
035420   48704096617500
051910   46167392322000
207940   45653850000000

In [17]:
all3=all2.join(other=cap)
all3

         momentum    market cap
티커
060310 -37.463127  9.498132e+10
095570 -22.646007  1.519383e+11
068400 -22.972973  3.057919e+11
006840 -44.019139  2.324947e+11
054620 -10.520833  1.751864e+11
...           ...           ...
189980 -19.371728  5.685147e+10
000540 -12.700965  1.744188e+11
003280 -27.323944  3.011700e+10
037440 -15.463918  5.137393e+10
238490 -45.319149  1.453622e+11

[2323 rows x 2 columns]

In [18]:
large=all3.sort_values(by='market cap',ascending=False)[:200]
large

          momentum    market cap
티커
005930   13.671875  3.474413e+14
000660    1.083032  6.115220e+13
035420   77.544910  4.870410e+13
051910  111.650485  4.616739e+13
207940   74.242424  4.565385e+13
...            ...           ...
005690  103.954802  1.082259e+12
006650   37.603306  1.082250e+12
088800  253.970390  1.077194e+12
032350   22.222222  1.066845e+12
122870  115.613383  1.066451e+12

[200 rows x 2 columns]

In [17]:
large.sort_values(by='momentum',ascending=False)

           momentum    market cap
티커
019170  1771.301775  6.702601e+12
096530  1113.986014  6.831339e+12
011000   617.917676  1.324985e+12
285130   522.899160  3.481324e+12
336260   448.346056  2.391780e+12
...             ...           ...
017800   -44.932432  1.589162e+12
010950   -49.162562  5.809272e+12
145020   -50.177257  2.314834e+12
086450   -60.928571  1.215981e+12
000100   -70.751708  4.292207e+12

[200 rows x 2 columns]

In [23]:
large_pct20=large.sort_values(by='momentum',ascending=False)[:20]
large_pct20

           momentum    market cap
티커
019170  1771.301775  6.702601e+12
096530  1113.986014  6.831339e+12
011000   617.917676  1.324985e+12
285130   522.899160  3.481324e+12
336260   448.346056  2.391780e+12
196170   305.168539  5.063347e+12
033270   280.577428  1.177750e+12
268600   280.149813  1.655893e+12
007570   264.137931  1.511585e+12
237690   263.775510  1.330173e+12
088800   253.970390  1.077194e+12
060250   216.397229  1.573540e+12
112610   188.500728  1.713014e+12
068760   185.283019  4.060854e+12
006120   184.632517  1.216519e+12
247540   166.796875  2.873404e+12
278280   154.179104  1.703000e+12
035720   150.515464  3.210086e+13
095700   142.444822  3.464387e+12
336370   138.670695  1.208295e+12

In [24]:
df3=stock.get_market_ohlcv("20201102",market="ALL")
df4=stock.get_market_ohlcv("20211015",market="ALL")

In [28]:
pct_df=df3.join(df4,lsuffix="_l",rsuffix="_r")
pct_df['Return']=pct_df['종가_r']/pct_df['종가_l']
pct_df=pct_df[['종가_l','종가_r','Return']]
pct_df.columns=['Purchase price','Selling price','Return']
pct_df

        Purchase price  Selling price     Return
티커
060310            2060         4065.0   1.973301
095570            3615         5660.0   1.565698
006840           17400        27000.0   1.551724
054620            6700        18200.0   2.716418
265520           20900        24200.0   1.157895
...                ...            ...        ...
000547           22450        27950.0   1.244989
000545           16800         8570.0   0.510119
003280             258         4700.0  18.217054
037440            3690         6230.0   1.688347
238490           12950         8370.0   0.646332

[2507 rows x 3 columns]

In [29]:
large_mom_result=large_pct20.join(pct_df)
large_mom_result

           momentum    market cap  Purchase price  Selling price    Return
티커
019170  1771.301775  6.702601e+12          126000        62300.0  0.494444
096530  1113.986014  6.831339e+12          265400        51900.0  0.195554
011000   617.917676  1.324985e+12           28650        28400.0  0.991274
285130   522.899160  3.481324e+12          347500       320500.0  0.922302
336260   448.346056  2.391780e+12           41650        51000.0  1.224490
196170   305.168539  5.063347e+12          158400        76200.0  0.481061
033270   280.577428  1.177750e+12           47750        47800.0  1.001047
268600   280.149813  1.655893e+12          205000        55900.0  0.272683
007570   264.137931  1.511585e+12           70200        30950.0  0.440883
237690   263.775510  1.330173e+12           62400        87000.0  1.394231
088800   253.970390  1.077194e+12           21150        14650.0  0.692671
060250   216.397229  1.573540e+12           68500        55300.0  0.807299
112610   188.500728  1.713014e+12          106500        74200.0  0.696714
068760   185.283019  4.060854e+12          110700       123900.0  1.119241
006120   184.632517  1.216519e+12           64300        49850.0  0.775272
247540   166.796875  2.873404e+12          126500       436000.0  3.446640
278280   154.179104  1.703000e+12          153700       285200.0  1.855563
035720   150.515464  3.210086e+13          334500       122000.0  0.364723
095700   142.444822  3.464387e+12          116700        67700.0  0.580120
336370   138.670695  1.208295e+12           33050        81900.0  2.478064

In [30]:
average_return=large_mom_result['Return'].mean()
large_mom_cagr=(average_return**1/1)-1
large_mom_cagr*100

1.171382990402381

In [23]:
#the return of the momentum st for large caps over 1 year: 17%

In [34]:
# 1 year -> 11year
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta

year=2010
month=11
period=6

inv_start=f"{year}-{month}-01"

'''two datetime have different role. 
datetime(module).datetime(class).strptime~
if you want to type datetime once.
import datetime-> from datetime import datetime

datetime.strptime(inv_start, "%Y-%m-%d") is a Python code 
that uses the strptime() function from the datetime module 
to parse a date string into a datetime object.'''
inv_start=datetime.datetime.strptime(inv_start,"%Y-%m-%d")
inv_end=inv_start+relativedelta(months=period-1)

mom_start=inv_start-relativedelta(months=12)
mom_end=inv_start-relativedelta(months=2)
print(mom_start.strftime("%Y-%m"),mom_end.strftime("%Y-%m"),"=>",
     inv_start.strftime("%Y-%m"),inv_end.strftime("%Y-%m"))

2009-11 2010-09 => 2010-11 2011-04

In [36]:
'''the first trading day(index=0) of the input year,month  '''
def get_business_day(df,year,month,index=0):
    str_month=f"{year}-{month}"
    return df.loc[str_month].index[index]

In [37]:
df=fdr.DataReader(symbol='KS11')
get_business_day(df,2010,1,0)

Timestamp('2010-01-04 00:00:00')

In [38]:
def momentum(df,year=2010,month=11,period=12):
    #the Investment start date, end date
    str_day=f"{year}-{month}-01"
    start=datetime.datetime.strptime(str_day,"%Y-%m-%d")
    end=start+relativedelta(months=period-1)
    
    # the closing price of the first trading day
    inv_start=get_business_day(df,start.year,start.month,0)
    inv_end=get_business_day(df,end.year,end.month,-1)
    inv_start=inv_start.strftime("%Y%m%d")
    inv_end=inv_end.strftime("%Y%m%d")
    
    #the momentum start date, end date
    end=start-relativedelta(months=2)
    start=start-relativedelta(months=period)
    
    # the closing price of the first momentum trading date 
    mom_start=get_business_day(df,start.year, start.month,0)
    mom_end=get_business_day(df,end.year,end.month,-1)
    mom_start=mom_start.strftime("%Y%m%d")
    mom_end=mom_end.strftime("%Y%m%d")
    print(mom_start,mom_end,"|",inv_start,inv_end)
    df1=stock.get_market_ohlcv_by_ticker(mom_start)
    df2=stock.get_market_ohlcv_by_ticker(mom_end)
    mon_df=df1.join(df2,lsuffix='l',rsuffix="r")
    mon_df['fluctuation rate']=(mon_df['종가r']-mon_df['종가l'])/mon_df['종가l']*100
    
    #Excluding preferred stock
    mon_df=mon_df.filter(regex="0$",axis=0)
    mon20=mon_df.sort_values(by="fluctuation rate",ascending=False)[:20]
    mon20=mon20[['fluctuation rate']]
    
    df3=stock.get_market_ohlcv(inv_start)
    df4=stock.get_market_ohlcv(inv_end)
    inv_df=df3.join(df4,lsuffix="l",rsuffix="r")
    
    inv_df['Return']=inv_df['종가r']/inv_df['종가l']
    inv_df=inv_df[['Return']]
    
    result_df=mon20.join(inv_df)
    result=result_df['Return'].fillna(0).mean()
    return year,result

In [43]:
import time

data=[]
for year in range(2010,2021):
    ret=momentum(df,year,month=11,period=6)
    data.append(ret)
    time.sleep(1)

20100503 20100930 | 20101101 20110429
20110502 20110930 | 20111101 20120430
20120502 20120928 | 20121101 20130430
20130502 20130930 | 20131101 20140430
20140502 20140930 | 20141103 20150430
20150504 20150930 | 20151102 20160429
20160502 20160930 | 20161101 20170428
20170502 20170929 | 20171101 20180430
20180502 20180928 | 20181101 20190430
20190502 20190930 | 20191101 20200429
20200504 20200929 | 20201102 20210430

In [44]:
print(data)

[(2010, 1.06956194112967), (2011, 0.9607535438798692), (2012, 1.4577543978916436), (2013, 1.076926167292763), (2014, 1.6950272211482358), (2015, 0.9574101694987925), (2016, 0.9057471928263879), (2017, 1.3873152308101184), (2018, 1.0123607433408783), (2019, 0.7643145979893634), (2020, 1.1151789381829516)]

In [48]:

import pandas as pd
ret_df=pd.DataFrame(data=data,columns=['year','yield'])
# Set the 'year' column as the index column
ret_df.set_index('year',inplace=True)
ret_df

    year     yield
0   2010  1.069562
1   2011  0.960754
2   2012  1.457754
3   2013  1.076926
4   2014  1.695027
5   2015  0.957410
6   2016  0.905747
7   2017  1.387315
8   2018  1.012361
9   2019  0.764315
10  2020  1.115179

In [49]:
cum_yield=ret_df['yield'].cumprod()
cum_yield

0     1.069562
1     1.027585
2     1.497967
3     1.613200
4     2.734418
5     2.617960
6     2.371210
7     3.289615
8     3.330277
9     2.545379
10    2.838554
Name: yield, dtype: float64

In [50]:
CAGR=cum_yield.iloc[-1]**(1/11)-1
CAGR*100

9.948838383443515

In [51]:
buy_price=df.loc["2010-11"].iloc[0,0]
sell_price=df.loc["2021-04"].iloc[-1,0]
kospi_yield=sell_price/buy_price
kospi_cagr=kospi_yield**(1/11)-1
kospi_cagr*100

4.835153880354026

In [39]:
'''conclusion : 
retune
the momentum st for large caps 9.94 > kospi 4.83
The return was not as good as the others.'''